@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

@font-face {
  font-family : 'Font-Awesome';
  src: url('src/font-awesome/fontawesome-webfont.eot');
  src: url('src/font-awesome/fontawesome-webfont.woff');
  src: url('src/font-awesome/fontawesome-webfont.scvg');
  src: url('src/font-awesome/fontawesome-webfont.ttf');
}

body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url('src/images/dogs.gif');
}
body, a:link, a:visited, a:active{
  color: white;
  font-family: 'Oswald', Sans-serif;
  text-decoration:none;
  overflow:hidden;
  text-align:center;
}
.title, .addDancerButton, .line-up{
  padding:5px 12px;
  display:block;
}

a.addDancerButton, a.line-up{
  background-color:white;
  color:#555;
  margin: 10px 15px;
  border-radius:15px;
  text-align:center;
  text-transform:uppercase;
  font-size:14px;
  border: 3px solid white;
  transition:background-color .3s, color .3s, border-radius .3s;
}

i{
  padding: 0 5px;
}

.addDancerButton:hover {
  background-color:transparent;
  color:white;
  border-radius:0;
  transition:background-color .3s, color .3s, border-radius .3s;

}
a.line-up {
  color:#E80C7A;
  transition:background-color .3s, color .3s, border-radius .3s;
}
a.line-up:hover {
  background-color:#E80C7A;
  color:white;
  border-radius:0px;
  transition:background-color .3s, color .3s, border-radius .3s;
}

.navbar{
  position:absolute;
  right:0;
  top:0;
  height:100%;
  width:250px;
  background-color: #555;
  z-index:100;
}
.title{
  background-color: #777;
}


.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinky-dancer{
  border-width: 100px;
  -webkit-animation: blur-animation 1s infinite;
}

@-webkit-keyframes blur-animation {
  0% {
    -webkit-filter: blur(5px);
  }
  50% {
    -webkit-filter: blur(50px);
  }
  100% {
    -webkit-filter: blur(5px);
  }
}


.growing-dancer {
  border-color:#BADA55;
}

.color-dancer {
  border-radius: 0px;
}

.zero {
  left:0 !important;
}

.dog-dancer {
  background: url('src/images/puppy.jpg') no-repeat center center;

  border-color:transparent;
}

.conscious-dancer {
  border-width: 100px;
}

.ouch {
  font-size: 200px;
  color: orange;
}
